@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

$font-big-shoulder: 'Big Shoulders Display', cursive;
$font-lexend-deca: 'Lexend Deca', sans-serif;
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);
$transparent-white: hsla(0, 0%, 100%, 0.75); /* Paragraphs */
$very-light-gray: hsl(0, 0%, 95%); /* Background, Headings, Buttons */

*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    height: 175vh;
    background-color: $very-light-gray;
}

main {
    width: 300px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: $font-lexend-deca;
    text-align: left;
    color: $transparent-white;
    h1 {
        font-family: $font-big-shoulder;
        font-size: 2rem;
        text-transform: uppercase;
        margin: .5em 0;
    }
    section {
        padding: 2em;
    }
    .btn {
        border: none;
        padding: 1em 2em;
        border-radius: 25px;
        margin: 1em 0;
        font-family: $font-lexend-deca;
    }
    .btn-sedan {
        color: $bright-orange;
    }
    .btn-suv {
        color: $dark-cyan;
    }
    .btn-luxury {
        color: $very-dark-cyan;
    }
    p {
        color: $transparent-white;
        margin: 1em 0;
    }
}

.sedan {
    background-color: $bright-orange;
    border-radius: 15px 15px 0 0;
}

.suv {
    background-color: $dark-cyan;
}

.luxury {
    background-color: $very-dark-cyan;
    border-radius: 0 0 15px 15px;
}